   .go-down:hover .fa-angle-double-down {
        animation-duration: .3s;
        animation-iteration-count: 1;
        transform-origin: bottom;
        animation-name: bounce;
        animation-timing-function: linear;
    }

    @keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(15px); }
        100% { transform: translateY(0); }
    }