@import '_media.scss';
@import '_variables.scss';


* {
	/*border: 1px solid red;	*/
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.carousel-section [class*="c-photo"]{
	min-height:400px;
	background-repeat: no-repeat;
    background-size: cover;
}



.navbar {
	border-radius: 0;
    margin-bottom: 0;
    min-height: 100px;
}

.logo {
	width: 225px;
	height: 70px;
}


.navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
	min-width: 100px;
	text-align: center;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #white;
    background-color: $second-solor;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #white;
    background-color: $first-solor;
}

.hero {
	
	background-attachment: fixed;
	background-color: black;
	background-image: url('../images/hero_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	padding-bottom: 50px;
	height: 80vh;

.container {
	display: flex;
	justify-content: center;
	}
}

.go-down {
	align-items: center;
	border-radius: 50%;
	background-color: $first-solor;
	color: white;
	cursor: pointer;
	display: flex;
	
	height: 80px;
	/*border: 2px solid $second-solor;*/
	justify-content: center;
	width: 80px;
	&:hover {
		background-color: $second-solor;
	}
	.fa-angle-double-down {
		font-size: 24px;	/*		do zmiany 		!!!*/
	}
}

.container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.content {
	width: 80%;
}

/*niepotrzebne*/
.carousel-section .container-fluid {
	padding: 0;
}

.c-photo-1 {
	background-image: url(https://images.pexels.com/photos/416956/pexels-photo-416956.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.c-photo-2 {
	background-image: url(https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.c-photo-3 {
	background-image: url(https://images.unsplash.com/photo-1472377622610-57ef965c89f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4f3639094f5209592d9b27d60cdb4299&auto=format&fit=crop&w=750&q=80);
}

.c-photo-4 {
	background-image: url(https://images.unsplash.com/photo-1516549682772-6f8f687f8663?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac5aa88ca183aba8b4b7921e592135ba&auto=format&fit=crop&w=752&q=80);
}

.c-photo-5 {
	background-image: url(https://images.unsplash.com/photo-1499571883643-44e68963973d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe6dcad08b550ac64434e734039df9f4&auto=format&fit=crop&w=875&q=80);
}

/*do tąd*/

.tab-section .container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tab-section .tab-content {
	background-color: white;
	/*padding: 30px 70px;*/
	margin: 10px 0 0 0;
	text-align: justify;
}

.tab-section .tab-content .tab-pane {
	font-size: 16px;
}

.tab-section .tab-content .tab-pane ul {
	list-style-type: none;
	padding-left: 5px;
}

.tab-section .tab-content .tab-pane li{
	line-height: 1.6;
	margin-bottom: 10px;
}

.nav-tabs {
    border-bottom: 1px solid #d75e3f;
}

.nav-tabs > li a {
	color: white;
}

.nav-tabs > li {
	background-color: #101010;
	border-bottom: 1px solid #d75e3f;
}

.nav-tabs > li.active {
	background-color: #d75e3f;
	
}

.nav-tabs > li:hover {
	background-color: #1f7e5c;
}

.nav-tabs > li.active:hover {
	background-color: #d75e3f;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #1f7e5c;
	color: white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	border: 1px solid #d75e3f;
	
}

.btn-warning {
	background-color: #d75e3f;
	border-color: #d75e3f;
}

.btn-warning:hover {
	background-color: #c4492a;
	border-color: #c4492a;
}

 .btn-warning:active {
	background-color: #c4492a !important;
	border-color: #c4492a !important;
 }
 
 .btn-warning:visited, .btn-warning:focus {
	background-color: #c4492a;
	border-color: #c4492a;
}

.modal .modal-body p {
	line-height: 2;
}

.modal .modal-body .icon-fa {
	font-size: 24px;
	
}

.footer .container-fluid {
	margin-top: 30px;
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #12171a;
	color: #9d9d9d;
}

